---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Stack from "../components/Stack.astro";
import Projects from "../components/Projects.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="font-sanchez flex flex-col item-center p-[30px]">
			<div class="flex flex-col items-center gap-4 md:flex-row md:gap-7">
				<img
					src="./Profile.png"
					alt="Imagen de perfil"
					class="rounded-full border-white border-solid border-8 w-1/2 md:w-1/4"
				/>
				<div class="w-auto flex flex-col">
					<h1 class="text-4xl sm:text-7xl">Kevin Perdomo</h1>
					<div
						class="mt-[-10px] flex gap-2 items-center"
					>
						<p class="text-xl m-0 sm:text-2xl">Web developer</p>
						<div class="flex text-cyan items-center">
							<span
								class="icon-[material-symbols-light--location-on-rounded]"
							></span>
							<p>El Salvador</p>
						</div>
					</div>
					<p>
						Enthusiastic web developer driven by a passion for
						technology and software, dedicated to creating
						innovative solutions for diverse challenges.
					</p>
					<div class="flex flex-col">
						<div class="flex text-3xl items-start gap-2 mt-3">
							<a href="https://www.linkedin.com/in/perdomokevin/"
								><span
									class="icon-[akar-icons--linkedin-box-fill]"
								></span></a
							>
							<a href="https://github.com/vinxcode"
								><span class="icon-[jam--github]"></span></a
							>
							<a href="https://wa.me/50360528774"
								><span class="icon-[fa-brands--whatsapp-square]"
								></span></a
							>
							<a
								href="https://drive.google.com/file/d/1nWCXQX76uE6lNRL2szeIfWc8V5n3uLCw/view?usp=sharing"
								class="bg-cyan text-grey-dark font-leagueSpartan font-black py-1 px-3 text-sm rounded-lg hover:text-grey-dark-hover"
								>GO TO RESUME</a
							>
						</div>
						<p class="text-cyan italic">
							Mail: kevin030pgj@gmail.com
						</p>
					</div>
				</div>
			</div>
			<Stack />
			<Projects />
		</main>
		<Footer />
		<style>
			body {
				background: rgb(39, 56, 76);
				background: linear-gradient(
					90deg,
					rgba(39, 56, 76, 1) 0%,
					rgba(85, 78, 98, 1) 50%,
					rgba(75, 115, 141, 1) 100%
				);
			}
		</style>
	</body>
</html>
