---
const today = new Date();
---

<footer>
	<div class="flex flex-col items-center">
		<div class="flex text-3xl items-start gap-2 mt-3">
			<a href="https://www.linkedin.com/in/perdomokevin/"
				><span
					class="icon-[akar-icons--linkedin-box-fill] text-grey-dark hover:text-grey-dark-hover"
				></span></a
			>
			<a href="https://github.com/vinxcode"
				><span
					class="icon-[jam--github] text-grey-dark hover:text-grey-dark-hover"
				></span></a
			>
			<a href="https://wa.me/50360528774"
				><span
					class="icon-[fa-brands--whatsapp-square] text-grey-dark hover:text-grey-dark-hover"
				></span></a
			>
			<a
				href="https://drive.google.com/file/d/1EUzWpZmcvkKlJKtrXGwnBjXzwIcRxc6E/view?usp=sharing"
				class="text-grey-light hover:text-grey-light bg-grey-dark hover:bg-grey-dark-hover font-leagueSpartan font-black py-1 px-3 text-sm rounded-lg"
				>GO TO RESUME</a
			>
		</div>
		<p class="text-grey-dark italic">Mail: kevin030pgj@gmail.com</p>
	</div>
	&copy; {today.getFullYear()} Kevin Perdomo. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
