---
import Project from "./Project.astro";

const projects = [
    {
        project: "Huerto en casa",
        description:
            "Aplicación para la gestión de un huerto casero. Útil para llevar un inventario y control de las siembras, monitorear su proceso y rendimiento.",
        githubLink: "https://github.com/vinxcode/huerto",
        imageLink: "./huerto.png",
        linkToApp: "https://huerto-two.vercel.app/",
        stackIcons: [
            "icon-[ri--nextjs-fill]",
            "icon-[simple-icons--supabase] text-lg",
            "icon-[file-icons--tailwind]",
        ],
    },
    {
        project: "Juego Biblico",
        description:
            "Aplicación para aprender de la biblia mediante un sencillo juego de preguntas. Creado para utilizarse en mi iglesia y talvez en el futuro en muchas iglesias.",
        githubLink: "https://github.com/vinxcode/preguntas-biblicas",
        imageLink: "./juego.png",
        linkToApp: "https://preguntas-biblicas-rho.vercel.app/",
        stackIcons: [
            "icon-[ri--nextjs-fill]",
            "icon-[simple-icons--supabase] text-lg",
            "icon-[file-icons--tailwind]",
        ],
    },
];
---

<section class="my-10 flex flex-col gap-5">
    <h2 class="font-leagueSpartan font-bold text-5xl text-white mb-5">
        Projects
    </h2>
    <div class="grid grid-cols-1 gap-5">
        {projects.map((project) => <Project project={project} />)}
    </div>
</section>
