---

---

<article
    class="flex flex-col border-8 border-white rounded-3xl p-3 items-center md:items-end md:px-9 md:py-7"
>
    <div class="flex flex-col w-full justify-center gap-3 items-center mt-5 md:mt-0 md:flex-row">
        <img
            src="logo-huerto.jpg"
            alt="Imagen de Huerto"
            class="rounded-3xl border-white border-8 w-56 md:w-1/4 mx-auto"
        />

        <div class="flex flex-col gap-3 p-2">
            <h3 class="text-4xl font-bold text-white mb-[-5px]">
                Huerto en casa
            </h3>
            <p class="font-leagueSpartan text-lg leading-5">
                Aplicación para la gestión de un huerto casero. Útil para llevar
                un inventario y control de las siembras, monitorear su proceso y
                rendimiento.
            </p>
        </div>
    </div>

    <div class="w-full flex flex-col md:flex-row gap-2 md:gap-10 px-2 pb-2">
        <div
            class="py-2 px-5 rounded-full text-white text-2xl flex items-center gap-2 justify-center w-full md:w-1/4"
        >
            <span class="icon-[ri--nextjs-fill]"></span>
            <span class="icon-[simple-icons--supabase] text-lg"></span>
        </div>
        <div class="flex w-full gap-3 items-center">
            <a href="https://huerto-two.vercel.app/diario"
                class="rounded-3xl w-full py-2 font-leagueSpartan text-center font-semibold text-grey-dark hover:text-grey-dark bg-white hover:bg-cyan"
                >Ir a la app</a
            >
            <a href="https://github.com/vinxcode/huerto">
                <span
                    class="icon-[bi--github] text-white hover:bg-cyan text-4xl mt-2 w-1/8"
                ></span>
            </a>
        </div>
    </div>
</article>

<style>
    img {
        box-shadow: 0 5px 20px 3px #00b6d6;
        color: white;
    }
</style>
