---
import Project from './Project.astro'

const projects = [
    {
        project: "Huerto en casa",
        description: "Aplicación para la gestión de un huerto casero. Útil para llevar un inventario y control de las siembras, monitorear su proceso y rendimiento.",
        githubLink: "https://github.com/vinxcode/huerto",
        imageLink: "../public/logo-huerto.jpg",
    }
]
---

<section class="my-10 flex flex-col gap-5">
    <h2 class="font-leagueSpartan font-bold text-5xl text-white mb-5">Projects</h2>
    {
        projects.map(project => (
            <Project />
        ))
    }
</section>