---

---

<article class="flex flex-col border-8 border-white rounded-3xl p-3 gap-2 items-center md:flex-row md:px-9 md:py-7">
    <div class="flex flex-col justify-center gap-2 items-center md:w-1/3 mt-5 md:mt-auto">
        <img src="logo-huerto.jpg" alt="Imagen de Huerto"
        class="rounded-3xl border-white border-8 w-48 md:w-32 mx-auto animate-in">
        <div class="bg-white py-2 px-5 rounded-full text-grey-dark text-2xl flex items-center gap-2 justify-center w-full md:w-auto">
            <span class="icon-[ri--nextjs-fill] "></span>
            <span class="icon-[simple-icons--supabase] text-lg"></span>
        </div>
    </div>
    <div class="w-full flex flex-col gap-3 md-w-2/3 p-2">
        <h3 class="text-4xl font-bold text-white mb-[-5px]">Huerto en casa</h3>
        <p class="font-leagueSpartan text-lg leading-5">Aplicación para la gestión de un huerto casero. Útil para llevar un inventario y control de las siembras, monitorear su proceso y rendimiento.</p>
        <div class="flex gap-3 items-center">
            <button class="border-4 border-white rounded-3xl px-7 py-1 w-4/5 font-leagueSpartan font-semibold">Ir a la app</button>
            <a href="https://github.com/vinxcode/huerto"><span class="icon-[bi--github] text-white text-4xl mt-2"></span></a>
        </div>
    </div>
</article>


<style>
    img{
        box-shadow: 0 5px 30px 10px #00B6D6;
        color: white;
    }
</style>
