---
import Technology from './Technology.astro'
---

<section class="mt-10 bg-grey-dark p-5 md:p-10 rounded-xl shadow-2xl">
    <h3 class="text-white">Stack</h3>
    <div>
        <Technology name="JAVASCRIPT"/>
        <Technology name="HTML"/>
        <Technology name="CSS"/>
        <Technology name="TAILWIND"/>
        <Technology name="FIGMA"/>
        <Technology name="ASTRO"/>
        <Technology name="REACT"/>
        <Technology name="NEXTJS"/>
        <Technology name="NODEJS"/>
        <Technology name="EXPRESS"/>
        <Technology name="MYSQL"/>
        <Technology name="SQLITE"/>
        <Technology name="SUPABASE"/>
        <Technology name="ASTRODB"/>
    </div>
    <p class="text-base mt-4">Currently learning <span class="italic">React Native and Tests with Vitest</span></p>
</section>