---
import Technology from "./Technology.astro";
---

<section
    class="flex flex-col justify-center items-center p-1 md:p-10 rounded-xl"
>
    <h3 class="text-white">Stack</h3>
    <div class="flex gap-2">
        <Technology name="JAVASCRIPT" />
        <Technology name="HTML" />
        <Technology name="CSS" />
        <Technology name="TAILWIND" />
        <Technology name="FIGMA" />
    </div>
    <div class="flex gap-2">
        <Technology name="REACT" />
        <Technology name="NEXTJS" />
        <Technology name="NODEJS" />
        <Technology name="EXPRESS" />
        <Technology name="MYSQL" />
    </div>
    <div class="flex gap-2">
        <Technology name="SQLITE" />
        <Technology name="SUPABASE" />
        <Technology name="ASTRODB" />
        <Technology name="ASTRO" />
    </div>
    <p class="text-lg mt-4">Currently learning</p>
    <div class="flex justify-center gap-2">
        <Technology class="italic" name="REACT NATIVE" />
        <Technology class="italic" name="VITEST" />
    </div>
</section>
